<body>

<h1>VENUES INDEX PAGE</h1>

<% @venues.each do |venue| %>
<li><%= link_to venue.name, venue_path(venue) %> - <%= venue.location %></li>
<% end %>

<%= button_to "Back", concerts_path, method: :get %>
</body>
